# Ignorar node_modules en Frontend y Backend
Frontend/node_modules/
Backend/node_modules/

# Ignorar entornos virtuales y pycache en todo el proyecto
env/
env-server/
__pycache__/
*.py[cod]

# Ignorar archivos de entorno (por seguridad)
*.env

# Ignorar logs y otros archivos innecesarios
*.log
.DS_Store
.vscode/
*~

# Ignorar build and push de docker
build_and_push.sh
