NODE_ENV=development
PORT=6000

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<cluster-host>/?retryWrites=true&w=majority&appName=CreteValleyDSS
MONGODB_DB_NAME=cretevalleydss_develop

JWT_SECRET=<jwt_secret>
JWT_REFRESH=<jwt_refresh_secret>

ORIGIN_FRONT=http://localhost:5173
ORIGIN_BACK=http://localhost:6000
ORIGIN_APIMODELS=http://localhost:7000
ORIGIN_CRETEVALLEY=http://localhost:3000
ORIGIN_SULEIMAN=http://localhost:3001

CRETEVALLEY_EMAIL=<notification_email@example.com>
APIKEY_RESEND=<resend_api_key>
APIKEY_BREVO=<brevo_api_key>
