NODE_ENV=production
PORT=6000

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<cluster-host>/?retryWrites=true&w=majority&appName=CreteValleyDSS
MONGODB_DB_NAME=cretevalleydss_production

JWT_SECRET=<jwt_secret>
JWT_REFRESH=<jwt_refresh_secret>

ORIGIN_FRONT=https://<frontend-host>
ORIGIN_BACK=https://<backend-host>
ORIGIN_APIMODELS=https://<apimodels-host>
ORIGIN_CRETEVALLEY=https://<cretevalley-host>
ORIGIN_SULEIMAN=https://<suleiman-host>

CRETEVALLEY_EMAIL=<notification_email@example.com>
APIKEY_RESEND=<resend_api_key>
APIKEY_BREVO=<brevo_api_key>
