#dashboard-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  /* Fondo moderno, gris oscuro con azul grisáceo */
  background:
    radial-gradient(circle at 25% 25%, rgba(35, 45, 60, 0.4) 0%, rgba(10, 15, 25, 0.8) 70%),
    radial-gradient(circle at 75% 75%, rgba(115, 186, 233, 0.3) 0%, rgba(36, 48, 68, 0.7) 80%),
    linear-gradient(180deg, rgba(15, 15, 20, 0.7) 0%, rgba(30, 35, 45, 0.9) 100%);
  background-blend-mode: soft-light;
}

