import { validateAndNormalizeSelectCriterion } from "./validateAndNormalize.js";
import { validateSelectCriterionDefinition } from "./validateDefinition.js";

export const selectCriterionParameterStructure = Object.freeze({
  key: "selectCriterion",
  validateDefinition: validateSelectCriterionDefinition,
  validateAndNormalize: validateAndNormalizeSelectCriterion,
});
