import SelectCriterionParameterField from "./SelectCriterionParameterField";
import SelectCriterionParameterReadOnly from "./SelectCriterionParameterReadOnly";

export const selectCriterionParameterField = Object.freeze({
  key: "selectCriterion",
  // Change to "ready" only after implementation is complete and tested.
  implementationStatus: "scaffold",
  FieldComponent: SelectCriterionParameterField,
  ReadOnlyComponent: SelectCriterionParameterReadOnly,
});
