import { validateAndNormalizeNumberGlobal } from "./operations/validateAndNormalize.js";

export const numberGlobalParameterStructure = Object.freeze({
  key: "numberGlobal",
  validateAndNormalize: validateAndNormalizeNumberGlobal,
});
