import { validateAndNormalizeSelectGlobal } from "./validateAndNormalize.js";
import { validateSelectGlobalDefinition } from "./validateDefinition.js";

export const selectGlobalParameterStructure = Object.freeze({
  key: "selectGlobal",
  validateDefinition: validateSelectGlobalDefinition,
  validateAndNormalize: validateAndNormalizeSelectGlobal,
});
