import { validateAndNormalizeNumberCriterion } from "./validateAndNormalize.js";
import { validateNumberCriterionDefinition } from "./validateDefinition.js";

export const numberCriterionParameterStructure = Object.freeze({
  key: "numberCriterion",
  validateDefinition: validateNumberCriterionDefinition,
  validateAndNormalize: validateAndNormalizeNumberCriterion,
});
