import {{ field_component_name }} from "./{{ field_component_name }}";
import {{ read_only_component_name }} from "./{{ read_only_component_name }}";

export const {{ parameter_structure_key }}ParameterField = Object.freeze({
  key: "{{ parameter_structure_key }}",
  implementationStatus: "scaffold",
  FieldComponent: {{ field_component_name }},
  ReadOnlyComponent: {{ read_only_component_name }},
});
